<style>

</style>
<div id="about">

  <!-- Introduction -->
  <div class="section">
    <div class="section_content">
        <b>Hyunsik Lee</b><br>
        <b>daniel.hyunsik.lee@gmail.com</b><br>
    </div>
  </div>

  <!-- Education -->
  <div class="section">
    <div class="section_title">Education</div>
    <div class="section_content">
      <div class="content_name">Hongik University, Seoul, Korea</div>
      <div class="content_date">Mar 2012 ~ Feb 2020</div>
      <div class="content_subname">Bachelor's Degree in Computer Engineering</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">Illnois Institute of Technology, Chicago, IL</div>
      <div class="content_date">Aug 2018 ~ Feb 2019</div>
      <div class="content_subname">International Certificate in IT</div>
      <div class="content_detail">
      </div>
    </div>
  </div>

  <!-- Career -->
  <div class="section">
    <div class="section_title">Career</div>
    <div class="section_content">
      <div class="content_name">Kakao Enterprise</div>
      <div class="content_date">Jun 2020 ~ Present</div>
      <div class="content_subname">ML Platform Developer</div>
      <div class="content_detail">
        - Optimized machine learning models and made high speed inference server<br>
        - Developed API servers and data pipelines with Kubernetes cluster<br>
        - Projects: <a href="/projects/oasys">Oasys</a><br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">SportsFactory</div>
      <div class="content_date">Sep 2016 ~ Feb 2017</div>
      <div class="content_subname">Full Stack Developer</div>
      <div class="content_detail">
        - Developed a hybrid mobile application that provides fitness and sports information<br>
        - Projects: <a href="/projects/sportforall">SportForAll</a><br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Mappetizer</div>
      <div class="content_date">Jun 2014 ~ Nov 2014</div>
      <div class="content_subname">Android Developer</div>
      <div class="content_detail">
        - Developed an Android application that provides wedding social network services<br>
        - Projects: <a href="/projects/weddingbox">WeddingBox</a><br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">TrendTok</div>
      <div class="content_date">Oct 2013 ~ Dec 2013</div>
      <div class="content_subname">Web Developer</div>
      <div class="content_detail">
        - Developed web applications for clients<br>
        - Projects: <a href="/projects/mementomori">Mementomori</a><br>
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div class="section">
    <div class="section_title">Experience</div>
    <div class="section_content">
      <div class="content_name">Smart Technology Lab, Illinois Institute of Technology</div>
      <div class="content_date">Dec 2018 ~ Feb 2019</div>
      <div class="content_subname">Undergraduate Researcher</div>
      <div class="content_detail">
        - Researched NLP Algorithms to develop work supporting system<br>
        - Projects: <a href="/projects/chatbot">Chatbot</a><br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Production Process Scheduling Lab, Hongik University</div>
      <div class="content_date">Mar 2017 ~ Feb 2018</div>
      <div class="content_subname">Undergraduate Researcher</div>
      <div class="content_detail">
        - Researched integrated process planning and scheduling<br>
        - Used GA, ACO, NN, DQN algorithms to optimize scheduling<br>
        - Projects: <a href="/projects/ipps">IPPS</a><br>
      </div>
    </div>
  </div>

  <!-- Skill -->
  <!-- <div class="section">
    <div class="section_title">Skills</div>
    <div class="section_content">
      <div class="content_name">Programming</div>
      <div class="content_date"></div>
      <div class="content_subname"></div>
      <div class="content_detail">
      </div>
    </div>
  </div> -->
</div>
