<div id="about">
  <!-- Introduction -->
  <div class="section">
    <div class="section_content">
        <b>Hyunsik Lee</b><br>
        <b>daniel.hyunsik.lee@gmail.com</b><br>
    </div>
  </div>

  <!-- Education -->
  <div class="section">
    <div class="section_title">Education</div>
    <div class="section_content">
      <div class="content_name">Korea University, Seoul, Korea</div>
      <div class="content_date">Mar 2022 ~ Aug 2024</div>
      <div class="content_subname">Master's Degree in Artificial Intelligent</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">Hongik University, Seoul, Korea</div>
      <div class="content_date">Mar 2012 ~ Feb 2020</div>
      <div class="content_subname">Bachelor's Degree in Computer Engineering</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">Illnois Institute of Technology, Chicago, IL</div>
      <div class="content_date">Aug 2018 ~ Feb 2019</div>
      <div class="content_subname">International Certificate in IT</div>
      <div class="content_detail">
      </div>
    </div>
  </div>

  <!-- Career -->
  <div class="section">
    <div class="section_title career">Career</div>
    <div class="section_content">
      <div class="content_name">Kakao Enterprise</div>
      <div class="content_date latest">Jun 2020 ~ Present</div>
      <div class="content_date_elapsed latest"></div>
      <div class="content_subname">ML Engineer</div>
      <div class="content_detail" style="white-space: pre-line">ML Platform Team
        - Developed the MLOps platform that helps researchers to manage their ML research
        - Made ML inference environment that users can manage models and servers
        - Created CLI and SDK interfaces to allow users to manage their ML workloads
        - Operated Prometheus monitoring, alert and EFK logging systems
        - Managed Infiniband GPU clusters ensuring reliable operations

        Knowledge Graph AI Team
        - Developed ML services based on knowledge graph 
        - Made ML data pipeline and inference server in Kubernetes cluster
        - Enhanced batch process throughput with structured data pipeline
        - Improved TPS with multiprocessing and Triton Inference Server
        - Projects: <a href="/projects/oasys">OASYS</a>
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div class="section">
    <div class="section_title">Experience</div>
    <div class="section_content">
      <div class="content_name">Smart Technology Lab, Illinois Institute of Technology</div>
      <div class="content_date">Dec 2018 ~ Feb 2019</div>
      <div class="content_subname">Undergraduate Researcher</div>
      <div class="content_detail">
        - Researched NLP Algorithms to develop work supporting system<br>
        - Projects: <a href="/projects/chatbot">Chatbot</a><br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Production Process Scheduling Lab, Hongik University</div>
      <div class="content_date">Mar 2017 ~ Feb 2018</div>
      <div class="content_subname">Undergraduate Researcher</div>
      <div class="content_detail">
        - Researched integrated process planning and scheduling<br>
        - Used GA, ACO, NN, DQN algorithms to optimize scheduling<br>
        - Projects: <a href="/projects/ipps">IPPS</a><br>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
  // Calculate elasted date of latest career
  today = new Date()
  content_date = $('.content_date.latest')
  content_date = content_date.text().split(' ')
  content_date = Date.parse('01' + content_date[0] + ' ' + content_date[1]);
  console.log(content_date)

  diff_date = Math.ceil((today - content_date) / (24 * 60 * 60 * 1000))
  console.log(diff_date)

  years = Math.floor(diff_date / 365)
  years_remainder = diff_date % 365
  months = Math.ceil(years_remainder / 30)
  $('.content_date_elapsed.latest').text('(' + years + ' years ' + months + ' months)')
</script>